@using System.Collections
@model MBUretim.Mvc.ViewInModel.PairingViewModel
@{
    ViewBag.Title = "ProductPairing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">
                    Ürün - Reçete Eşleştirme

                </span>
            </h4>
            @*<div class="heading-elements">
                    <div class="btn-group heading-btn">
                        @using (Html.BeginForm("ExportData", "Home", FormMethod.Post, new { onsubmit = "validateForm()" }))
                        {
                            <button type="submit" class="btn bg-teal-400 btn-labeled legitRipple"><b><i class="icon-file-excel"></i></b>Excel'e Aktar</button>
                        }
                    </div>
                </div>*@
        </div>
    </div>
</div>
<!-- /page header -->
<div class="content">



    <!-- Highlighting rows and columns -->
    <div class="panel panel-flat">

        <table class="table datatable-button-html5-columns" id="example">
            <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Malzeme Kodu</th>
                    <th>Malzeme Açıklama</th>
                    <th>Reçete Kodu</th>
                    <th>Reçete Açıklama</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>


                @if (Model != null)
            {
                foreach (var item in Model.MbProductpairings)
                {
                    counter++;
                        <tr>
                            <td width="20">@counter</td>
                            <td>@item.ItemCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.BomCode</td>
                            <td>@item.BomName</td>
                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                            <i class="icon-menu9"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#"><i class="icon-pencil"></i>Düzenle</a></li>
                                            <li><a href="#"><i class="icon-cross2"></i>Sil</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>

                        </tr>
                    }
                }




            </tbody>
        </table>
    </div>
    <!-- /highlighting rows and columns -->

</div>


<!-- Vertical form modal -->
<div id="modal_form_vertical" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Ürün - Reçete Eşleştirme</h5>
            </div>

            @using (Html.BeginForm("ProductPairing", "Home", FormMethod.Post, new { onsubmit = "validateForm()" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Ürün</label>
                                @*@Html.TextBoxFor(model=>model.MbProductpairing.ITEM_CODE,new { placeholder = "Ürün Kodu", @class="form-control"})*@
                                @Html.DropDownListFor(model => model.CapiDiv.CAPIDIV_NR, new SelectList(ViewData["CapiDiv"] as IEnumerable, "CAPIDIV_NR", "CAPIDIV_NAME"), new { @data_placeholder = "Ürün Kodu", @class = "select-size-lg", @id = "item", name = "itemCode" })
                            </div>
                            <div class="col-sm-6">
                                <label>Ürün</label>
                                @*@Html.TextBoxFor(model => model.MbProductpairing.BOM_CODE, new { placeholder = "Ürün Kodu", @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.Item.Code, new SelectList(ViewData["Items"] as IEnumerable, "Id", "Code"), new { @data_placeholder = "Ürün Kodu", @class = "select-size-lg", @id = "item", name = "itemCode" })
                            </div>
                            <div class="col-sm-6">
                                <label>Reçete</label>
                                @*@Html.TextBoxFor(model => model.MbProductpairing.BOM_CODE, new { placeholder = "Ürün Kodu", @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.BomMaster.Code, new SelectList(ViewData["BomMaster"] as IEnumerable, "Id", "Code"), new { @class = "select-size-lg", @id = "bomMaster", @name = "bomCode" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>
<!-- /vertical form modal -->
